.nav {
    overflow: hidden;
    padding: 20px 10px;
    float: right;
}
.nav-bar a {
    color: black;
    line-height: 20px;
    text-align: center;
    text-decoration: none;
}
h1 {
    float: left;
    clear: both;
}
.intro {
    width: 400px;
    display: block;
    text-align: left;
    clear: both;
}
#city img {
    height: 800px;
    width: 500px;
    float: right;
    clear: both;
}
.column {
    width: 50%;
    clear: both;
}
.column2 {
    float: right;
    clear: both;
    background-color: yellow;
    width: 50%;
    margin-top: -170px;
}
